*{
    background-color: hsl(0, 10%, 5%);
}

.items{
    color: white;
}

#container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    "Nav"
    "main";
}


#Nav {
    grid-area: Nav;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;   
}

#Nav a{
    text-decoration: none;
    color: white;
    background-color: hsl(180, 50%, 20%);
    padding: 5px;
    border-radius: 5px;
}


#main {
    grid-area: main;
    overflow: auto;
}

#keys button{
    width: 100px;
    height: 100px;
    color: rgb(0, 0, 0);
    border: none;
    background-color: hsl(180, 50%, 20%);
    border-radius: 50px;
    font-size: 3rem;
    cursor: pointer;
}

#keys button:hover{
    background-color: hsl(180, 50%, 30%);
}

#keys button:active{
    background-color: hsl(180, 50%, 40%);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}


#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: white;
}


