*{
    box-sizing: border-box;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, hsl(240, 20%, 23%), hsl(260, 8%, 7%));
}

.items ul,a{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 10px;
    margin: 10px;
    justify-content: flex-end;
    color: hsl(0, 0%, 100%);
}

.items ul,a:hover{
    color: hsl(0, 0%, 50%);
}

.items ul,a:hover{
    color: hsl(0, 0%, 25%);
}


#main #keys{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    justify-content: center;
    align-content: center;
    font-size: 3rem;
}

#main button{
    font-size: 3rem;
    cursor: pointer;
    border: 1px solid hsl(0, 0%, 100%);
}

#main button:hover{
    color: hsl(0, 0%, 70%);
}

#display{
    width: 400px;
    font-size: 3rem;
}

#show{
    display: flex;
    justify-content: center;
}

@media (max-width: 600px){
    #display{
        width: 200px;
        font-size: 1.5rem;
    }

    #main #keys{
        display: grid;
        grid-template-columns: repeat(4, 50px);
        grid-template-rows: repeat(5, 50px);
        justify-content: center;
        align-content: center;
        font-size: 1.5rem;
    }

    #main button{
        font-size: 1.5rem;
        cursor: pointer;
        border: 1px solid hsl(0, 0%, 100%);
    }
    
}